RewriteEngine On
RewriteBase /First_Year/PHP/MVC_PiePHP/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/First_Year/PHP/MVC_PiePHP/(webroot/.+|index.php|robots.txt)$
RewriteRule ^ index.php [QSA,L]